services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: campaign-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/src:/app

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: campaign-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      VITE_API_BASE_URL: "http://127.0.0.1:8000"
    depends_on:
      - backend
